@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[class*="__container"] {
  max-width: 1133px;
  margin: 0 auto;
}

.lock body {
  overflow: hidden;
}

.title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 51px;
  line-height: 120%;
  text-transform: capitalize;
  color: #01010d;
  margin-bottom: 25px;
}

.sub-title {
  font-family: Poppins;
  font-size: 16px;
  line-height: 160%;
  color: #01010d;
}

.header {
  background: url("../img/header-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  margin-right: 60px;
}

.header__menu-link {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  color: #01010d;
  opacity: 0.8;
  padding: 35px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu-link:hover {
  opacity: 1;
}

.header__menu-link--active {
  opacity: 1;
  font-weight: bold;
  padding-bottom: 0;
}

.header__menu-btn {
  background: none;
  margin: 20px 0;
  padding: 15px 30px;
  background: #1617db;
  border-radius: 6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu-btn:hover {
  background: #0c0c8b;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-block {
  max-width: 450px;
  width: 100%;
  margin-right: 45px;
}

.header__sup-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1617db;
  margin-bottom: 12px;
}

.header__title {
  font-weight: bold;
  font-size: 67px;
  line-height: 80px;
  color: #01010d;
  margin-bottom: 25px;
}

.header__sub-title {
  font-size: 16px;
  line-height: 24px;
  color: #01010d;
  margin-bottom: 50px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  padding: 15px 30px;
  background: #1617db;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__btn:hover {
  background: #0e0e99;
}

.header__btn--outlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none !important;
  border: 1px solid rgba(22, 23, 219, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #6565ec;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn--outlined p {
  margin-left: 10px;
}

.header__btn--outlined:hover {
  font-size: 18px;
}

.header__img img {
  width: 100%;
}

.icon-menu {
  display: none;
}

.services {
  padding: 95px 0;
}

.services__title {
  text-align: center;
}

.services__sub-title {
  text-align: center;
  max-width: 433px;
  width: 100%;
  margin: 0 auto;
}

.services__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.main-services__block {
  margin-bottom: 100px;
  height: 170px;
}

.main-services__block-img {
  border: 3px solid #dff3ee;
  border-radius: 50%;
  text-align: center;
  height: 105px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
}

.main-services__title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  text-transform: capitalize;
  color: #01010d;
}

.main-services__sub-title {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #01010d;
  opacity: 0.8;
}

.product {
  padding: 95px 0;
}

.product__sup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #1617db;
}

.product__sup-title p {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1617db;
  margin-right: 10px;
}

.product__sub-title {
  max-width: 485px;
  width: 100%;
  margin-bottom: 12px;
}

.product__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__block {
  border: 3px solid #cccccc;
  border-radius: 64px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.product__inner {
  border-radius: 61px;
  margin: 3px;
  position: relative;
  overflow: hidden;
}

.product__inner--1 {
  background: #f8d7d9;
}

.product__btn {
  position: absolute;
  height: 144px;
  width: 144px;
  bottom: -60px;
  left: -60px;
  background-color: #000;
  border-radius: 50%;
  background: #f3f3f5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product__btn:hover {
  border-radius: 30px;
}

.product__btn img {
  display: block;
  margin-left: 63%;
  margin-top: 23%;
}

.product__inner--2 {
  background: #d6d7db;
}

.product__inner--3 {
  background: #dcd2d4;
}

.video-block {
  padding-top: 100px;
}

.video-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-block__preview {
  background: #5ba299;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.video-block__preview:hover .video-block__layer {
  opacity: 0.6;
  visibility: visible;
  cursor: pointer;
}

.video-block__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1f1818;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.video-block__info {
  margin-left: 100px;
}

.video-block__info-title {
  text-transform: initial;
}

.video-block__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin-top: 50px;
}

.video-block__btn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1617db;
  margin-left: 10px;
}

.testimonials {
  padding: 160px 0;
}

.testimonials__main {
  background: #f4f4f4;
  border-radius: 10px;
  max-width: 65%;
  padding: 34px 67px;
  position: relative;
  margin: 0 20px;
}

.testimonials__text {
  font-size: 16px;
  line-height: 150%;
  color: #01010d;
  margin-bottom: 30px;
}

.testimonials__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__author-name {
  margin-right: 30px;
}

.testimonials__author-name p {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #01010d;
}

.testimonials__author-name span {
  font-size: 14px;
  line-height: 160%;
  color: #01010d;
  opacity: 0.7;
  display: block;
  position: relative;
}

.testimonials__author-name span::after {
  content: "";
  display: block;
  height: 1px;
  width: 35px;
  background-color: rgba(1, 1, 13, 0.2);
  position: absolute;
  top: 50%;
  right: -5%;
}

.testimonials__decor {
  position: absolute;
  bottom: 10%;
  right: 30%;
}

.testimonials__border {
  position: absolute;
  width: 101%;
  height: 102%;
  top: -10px;
  left: -10px;
  border: 2px dashed #d3cfcf;
  border-radius: 10px;
  z-index: -1;
}

.footer {
  padding: 50px 10px 120px;
  background: #f7f7f7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  max-width: 170px;
  width: 100%;
}

.footer__logo img {
  margin-bottom: 25px;
}

.footer__logo p {
  font-size: 16px;
  line-height: 120%;
  color: #01010d;
  margin-bottom: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socials a img {
  display: block;
  margin-right: 30px;
}

.footer__block {
  margin-left: 100px;
}

.footer__block li {
  margin-bottom: 25px;
}

.footer__block li a {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #01010d;
}

.footer__block li a:hover {
  text-decoration: underline;
}

.footer__block-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #01010d;
}

.footer__form {
  display: block;
  margin-top: 30px;
}

.footer__form input {
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 6px;
}

@media (min-width: 576px) {
  .header__menu-link--active::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 31px;
    background-color: #1617db;
    border-radius: 100px;
  }
}

@media (min-width: 1036px) {
  .header__menu {
    margin-left: auto;
  }
}

@media (max-width: 1082px) {
  .video-block__container {
    display: block;
  }

  .video-block__preview {
    max-width: 590px;
    width: 100%;
    margin: 0 auto;
  }

  .video-block__preview img {
    width: 100%;
  }

  .video-block__info {
    margin-left: 0;
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 1036px) {
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu-item {
    margin-right: 30px;
  }

  .header__menu-btn {
    padding: 10px 20px;
  }

  .header__title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 1024px) {
  .footer__block {
    margin-left: 50px;
  }
}

@media (max-width: 912px) {
  .testimonials__main {
    padding: 20px 20px;
  }
}

@media (max-width: 769px) {
  .header__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__main-block {
    margin-top: 10%;
    margin-right: 0;
    text-align: center;
  }

  .header__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__img {
    width: 400px;
    margin-top: 20px;
    display: none;
  }
}

@media (max-width: 768px) {
  .services__main {
    display: block;
  }

  .main-services__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-services__block {
    margin: 50px 10px;
  }

  .main-services__middle img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .main-services__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product__title {
    text-align: center;
  }

  .product__sub-title {
    text-align: center;
    margin: 0 auto;
  }

  .product__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__logo {
    max-width: none;
  }

  .footer__socials {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 50px;
  }

  .footer__socials a img {
    margin-right: 0;
  }

  .footer__block {
    margin-left: 0;
    margin-bottom: 50px;
  }

  .footer__form input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header__nav {
    display: block;
    text-align: center;
    background-color: #eee;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    visibility: hidden;
    padding-top: 50px;
  }

  .header__nav.open {
    top: 0;
    visibility: visible;
    overflow: auto;
  }

  .header__menu {
    display: block;
  }

  .header__menu-item {
    margin: 0;
  }

  .header__menu-link--active {
    padding-bottom: 35px;
  }

  .header__menu-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 15px 30px;
  }

  .header__main-block {
    margin-top: 50%;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 472px) {
  .main-services__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-services__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .sub-title {
    font-size: 14px;
  }

  .header__btn {
    padding: 10px 20px;
  }

  .testimonials__main {
    max-width: none;
  }
}

@media (max-width: 351px) {
  .main-services__left {
    display: block;
  }

  .main-services__block {
    margin: 50px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.webp .header{ background: url(../img/header-bg.webp) 0 0 no-repeat; }